@model DetailsMonsterViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Monster</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monster.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monster.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monster.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monster.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monster.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monster.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monster.Life)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monster.Life)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monster.MinDamage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monster.MinDamage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monster.MaxDamage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monster.MaxDamage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monster.Defense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monster.Defense)
        </dd>

        <dt>Obrazek</dt>

        @if (Model.Image != null)
        {
            <dd>
                <img src="@Url.Action("Show","Image", new { imageName = Model.Image.FileName })" />
            </dd>
        }
    </dl>
</div>
