@model GameProject.Models.Entities.Message

@{
    ViewBag.Title = "Details";
}

<div class="container welcome">
    <h2>Wiadomość</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Temat
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Nadawca
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromUser)
        </dd>

        <dt>
            Data
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Treść
        </dt>

        <dd>
            @if (@Model.Type == MessageType.System)
            {
                @Html.Raw(@Model.ContentOfMessage)
            }
            else
            {
                @Html.DisplayFor(model => model.ContentOfMessage)
            }
        </dd>
    </dl>
<div>
    @Html.ActionLink("Powrót do spisu wiadomości", "Index")
</div>
</div>

