@model IEnumerable<GameProject.Models.Entities.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Wiadomości w skrzynce: (@Model.Count())</h2>

<p>
    @Html.ActionLink("Napisz wiadomość", "Create")

</p>
<table class="table">
    <tr id="tr_message">
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="tr_grey">
            <td onclick="window.location.href = '@Url.Action("Details", new { id = item.Id })';">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td onclick="window.location.href = '@Url.Action("Details", new { id = item.Id })';">
                @Html.DisplayFor(modelItem => item.FromUser)
            </td>
            <td onclick="window.location.href = '@Url.Action("Details", new { id = item.Id })';">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <!-- Button trigger modal -->
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
                    Usuń
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Usuwanie wiadomości</h4>
                            </div>
                            <div class="modal-body">
                                Czy na pewno chcesc usunąć wiadomość ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Wróć</button>
                                <button type="button" class="btn btn-primary deleteButton">@Html.ActionLink("Usuń", "Delete", "Message", new { id = item.Id, @class = "asd" }, null)</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </td>
        </tr>
    }
</table>
