<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title - Zabójcze Muminki</title>
    @Styles.Render("~/Content/skeleton")
    @Scripts.Render("~/bundles/modernizr")
    
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>



    @Scripts.Render("~/bundles/jq.elastis")
    @Scripts.Render("~/bundles/responsiveslides")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jq.easing")
    @RenderSection("scripts", required: false)
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	



        <div class="wrap-header">
		<div class="container">
        <div class="eleven columns left">
				<h1 class="logo"><a href="#" title="Muminki">Muminki</a></h1></div>

@if (CharacterHelpers.GetCharacterResources(this.Context) != null)
        {
            <div class="zloto five columns right">
                Złoto: @CharacterHelpers.GetCharacterResources(this.Context).Gold
                Dostępne ruchy: @CharacterHelpers.GetCharacterResources(this.Context).AvailableMoves /
                @CharacterHelpers.GetCharacterResources(this.Context).AvailableMovesReduction
            </div>
        }

        @if (CharacterHelpers.GetLeftTimeToEventComplete(this.Context) > 0)
        {
            <script type="text/javascript">
                $(function () {
                    $('.countdown.callback').countdown({
                        date: +(new Date) + @CharacterHelpers.GetLeftTimeToEventComplete(this.Context),
                        render: function (data) {
                            $(this.el).text(this.leadingZeros(data.sec, 2) + " sec");
                        },
                        onEnd: function () {
                            $(this.el).addClass('ended');
                        }
                    });
                });
            </script>
            <div class="zloto five columns right">Czas do końca wyprawy: </div><div class="countdown callback"></div>
        }
				<nav class="primary">
					<ul>
                    <li>@Html.ActionLink("Karta Postaci", "Index", "Character")</li>
                    <li>@Html.ActionLink("Ekwipunek", "Index", "Equipment")</li>
                    <li>@Html.ActionLink("Bestiariusz", "Index", "MonsterLore")</li>
                    <li>@Html.ActionLink("Lokacje", "Index", "Location")</li>
                    <li>@Html.ActionLink("Skrzynka", "Index", "Message")</li>
                    <li>@Html.ActionLink("Wyloguj", "Logout", "Account")</li>
					</ul>
				</nav>
   
        
    
		


</div>
</div>	
        @Html.Partial("_FlashMessagePartial")
        @RenderBody()

        	<footer class="sub-footer">
			<div class="container">
				<div class="eleven columns left">
					<p>Copyright 2014 <a href="#">Muminek Group</a> | Design by <a href="#">Paweł Puchalski, Łukasz Paczyński, Miłosz Osiński, Jacek Gałka</a></p>
				</div>	
					
				<div class="five columns right">
					<h1 class="logo12"><a href="#" title="Muminki">Muminki</a></h1>
				</div>	
			</div>
	</footer>
    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/timer_countdown")
    @RenderSection("scripts", required: false)


</body>
</html>
    
