<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Karta Postaci", "Index", "Character")</li>
                    <li>@Html.ActionLink("Ekwipunek", "Index", "Equipment")</li>
                    <li>@Html.ActionLink("Kowal", "Index", "Blacksmith")</li>
                    <li>@Html.ActionLink("Bestiariusz", "Index", "MonsterLore")</li>
                    <li>@Html.ActionLink("Lokacje", "Index", "Location")</li>
                    <li>@Html.ActionLink("Skrzynka", "Index", "Message")</li>
                    <li>@Html.ActionLink("Wyloguj", "Logout", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (CharacterHelpers.GetCharacterResources(this.Context) != null)
        {
            <div>
                Złoto: @CharacterHelpers.GetCharacterResources(this.Context).Gold
                Dostępne ruchy: @CharacterHelpers.GetCharacterResources(this.Context).AvailableMoves /
                @CharacterHelpers.GetCharacterResources(this.Context).AvailableMovesReduction
            </div>
        }

        @if (CharacterHelpers.GetLeftTimeToEventComplete(this.Context) > 0)
        {
            <script type="text/javascript">
                $(function () {
                    $('.countdown.styled').countdown({  
                        date: +(new Date) + @CharacterHelpers.GetLeftTimeToEventComplete(this.Context),
                        render: function(data) {
                            $(this.el).html("<div>" + this.leadingZeros(data.hours, 2) + " <span>godz</span></div><div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div><div>" + this.leadingZeros(data.sec, 2) + " <span>sek</span></div>");
                        }
                    });
                });
            </script>
            <span>Czas do końca wyprawy: </span><span class="countdown styled"></span>
        }

        @Html.Partial("_FlashMessagePartial")
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/timer_countdown")
    @RenderSection("scripts", required: false)
</body>
</html>