@model CreateEventViewModel

@{
    ViewBag.Title = "Dodanie Wyprawy";
}

<script>
    $(document).ready(function () {
        $(".Monster").on("click", function () {
            monster_id = this.id;
            $("input#MonsterId").val(monster_id);
            $(".table").hide("slow");
        });

        $('select').on('change', function () {
            select = this.value;

            if (select == "Random") {
                $(".table").hide("slow");
                $(".random_options").show(2000);
                $("input#MonsterId").val("0");
            }
            else if (select == "Monster") {
                $(".table").show(2000);
                $(".random_options").hide("slow");
            }
        })
    });
</script>

<h2>Dodawanie Wyprawy</h2>
<div style="display: block;overflow:auto;">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   <div class="form-horizontal col-md-6">
        <h4>Event</h4>
        <hr />

        <div class="alert alert-info">
          <b>Informacja!</b>
          Aktualnie dodajesz wyprawe do lokacji "<u>@Model.Location.Name</u>"
        </div>

        <div class="form-group" style="display:none;">
            <label class = "control-label col-md-4"> Monster ID</label>

            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Event.MonsterId,  new { Id = "MonsterId", Name="MonsterId", @readonly="readonly" } )
                @Html.ValidationMessage("MonsterId")
            </div>
        </div>

        <div class="form-group" style="display:none;">
            <label class = "control-label col-md-4"> LocationID</label>

            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Event.LocationId,  new { Id = "LocationId", Name="LocationId", @readonly="readonly" })
                @Html.ValidationMessage("LocationId")
            </div>
        </div>


        <div class="form-group">
            <label class = "control-label col-md-4"> Typ Wyprawy</label>

            <div class="col-md-4">
                @Html.DropDownList("Type", EnumHelper.GetSelectList<EventType>())
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-4"> Nazwa Wyprawy</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Event.Name,  new { Id = "Name", Name="Name" })
                @Html.ValidationMessage("Name")
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-4"> Opis Główny</label>
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Event.MainDescription, new { Id = "MainDescription", Name="MainDescription" })
                @Html.ValidationMessage("MainDescription")
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-4"> Opis Wygranej</label>
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Event.SuccessDescription, new { Id = "SuccessDescription", Name="SuccessDescription" })
                @Html.ValidationMessage("SuccessDescription")
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-4"> Opis Przegranej</label>
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Event.LostDescription, new { Id = "LostDescription", Name="LostDescription" })
                @Html.ValidationMessage("LostDescription")
            </div>
        </div>

        <div class="random_options">
        <div class="form-group">
            <label class = "control-label col-md-4"> Wysokość Wygranej</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Event.Reward, new { Id = "Reward", Name="Reward" })
                @Html.ValidationMessage("Reward")
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-4"> Wymagana Siła</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Event.RequireStrength, new { Id = "RequireStrength", Name="RequireStrength"  })
                @Html.ValidationMessage("RequireStrength")
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-4"> Wymagana Zręczność</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Event.RequireDexterity, new { Id = "RequireDexterity", Name="RequireDexterity" })
                @Html.ValidationMessage("RequireDexterity")
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-4"> Wymagana Witalność</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Event.RequireVitality, new { Id = "RequireVitality", Name="RequireVitality" })
                @Html.ValidationMessage("RequireVitality")
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-4"> Wymagana Inteligencja</label>
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Event.RequireInteligence, new { Id = "RequireInteligence", Name="RequireInteligence" })
                @Html.ValidationMessage("RequireInteligence")
            </div>
        </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <input type="submit" value="Stwórz" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if(Model.Monsters != null)
{
<div class="col-md-6">
   <table class="table" style="display:none;">
      <thead>
        <tr>
          <td><h4>Potwory</h4></td>
          <td></td>
          <td>Level</td>
        </tr>
      </thead>

      <tbody>
        @foreach(var one_monster in Model.Monsters) 
        {
        <tr id="@one_monster.Monster.Id" class="Monster">
          <td><img src="@Url.Action("Show","Image", new { imageName = one_monster.Image.FileName })" class="img-rounded col-md-4" width="150px" /></td>
          <td>@Html.DisplayFor(model => one_monster.Monster.Name)</td>
          <td>@Html.DisplayFor(model => one_monster.Monster.Level)</td>
        </tr>
        }
      </tbody>
    </table>
</div>
}
</div>

<div class="col-md-12">
    @Html.ActionLink("Wróć do listy", "Index")
</div>