@model GameProject.Models.Entities.Character

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{<div class="wrap-header">
		<div class="container">
				<h1 class="logo"><a href="#" title="Muminki">Muminki</a></h1>
</div>
</div>

<div class="container welcome">
<h2>Tworzenie Postaci</h2>
<div class="container service">	
		<div class="one-third column">
<img src="~/images/wojownik.png" alt=""/>
<h2>wojownik</h2>
</div>

		<div class="one-third column">
<img src="~/images/wloczykij.png" alt=""/>
<h2>włócznik</h2>
</div>
		<div class="one-third column">
<img src="~/images/mag.png" alt=""/>
<h2>mag</h2>
</div>

</div>

    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Class, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.DropDownListFor(model => model.Class, EnumHelper.GetSelectList<CharacterClass>())
                @Html.ValidationMessageFor(model => model.Class)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
</div><!-- end welcome -->	
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
