@model CharacterViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Karta Postaci</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Klasa</dt>
        <dd>
            @EnumHelper.GetEnumDescription(Model.Class)
        </dd>

        <dt>Poziom</dt>
        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>Nazwa</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Doświadczenie</dt>
        <dd>
            @Html.DisplayFor(model => model.Experience) / @Html.DisplayFor(model => model.ExperienceToLevel)
        </dd>

        <dt>Siła</dt>
        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>Zręczność</dt>
        <dd>
            @Html.DisplayFor(model => model.Dexterity)
        </dd>

        <dt>Inteligencja</dt>
        <dd>
            @Html.DisplayFor(model => model.Intelligence)
        </dd>

        <dt>Witalność</dt>
        <dd>
            @Html.DisplayFor(model => model.Vitality)
        </dd>

        <dt>Obrażenia</dt>
        <dd>
            @Html.DisplayFor(model => model.MinDamage) - @Html.DisplayFor(model => model.MaxDamage)
        </dd>

        <dt>Pancerz</dt>
        <dd>
            @Html.DisplayFor(model => model.Armor)
        </dd>

        <dt>Szansa na trafienie</dt>
        <dd>
            @Html.DisplayFor(model => model.ChanceToHit)%
        </dd>

        <dt>Szybkość ataku</dt>
        <dd>
            @Html.DisplayFor(model => model.AttackSpeed)
        </dd>
    </dl>
</div>
