@model CharacterViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Karta Postaci</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience) / @Html.DisplayFor(model => model.ExperienceToLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dexterity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intelligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vitality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vitality)
        </dd>

        <dt>Obrażenia</dt>

        <dd>
            @Html.DisplayFor(model => model.MinDamage) - @Html.DisplayFor(model => model.MaxDamage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Armor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChanceToHit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChanceToHit)%
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttackSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttackSpeed)
        </dd>
    </dl>
</div>
