@model CharacterViewModel

@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm()) 
{
@Html.AntiForgeryToken()
<div class="container welcome">
<h2>Karta Postaci</h2>
<div class="container">


    <table class="tabela_statystyk_postaci">
<tbody>
<tr>
        <td>Klasa</td>
        <td>
            @EnumHelper.GetEnumDescription(Model.Class)
        </td>
</tr>
<tr>
        <td>Poziom</td>
        <td>
            @Html.DisplayFor(model => model.Level)
        </td>
</tr>
<tr>
        <td>Życia</td>
        <td>
            @Html.DisplayFor(model => model.Life)
        </td>
</tr>
<tr>
        <td>Nazwa</td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
</tr>
<tr>
        <td>Doświadczenie</td>
        <td>
            @Html.DisplayFor(model => model.Experience) / @Html.DisplayFor(model => model.ExperienceToLevel)
        </td>
</tr>
<tr>
        <td>Siła</td>
        <td>
            @Html.DisplayFor(model => model.Strength)
        </td>
</tr>
<tr>
        <td>Zręczność</td>
        <td>
            @Html.DisplayFor(model => model.Dexterity)
        </td>
</tr>
<tr>
        <td>Inteligencja</td>
        <td>
            @Html.DisplayFor(model => model.Intelligence)
        </td>
</tr>
<tr>
        <td>Witalność</td>
        <td>
            @Html.DisplayFor(model => model.Vitality)
        </td>
</tr>
<tr>
        <td>Obrażenia</td>
        <td>
            @Html.DisplayFor(model => model.MinDamage) - @Html.DisplayFor(model => model.MaxDamage)
        </td>
</tr>
<tr>
        <td>Pancerz</td>
        <td>
            @Html.DisplayFor(model => model.Armor)
        </td>
</tr>
<tr>
        <td>Szansa na trafienie</td>
        <td>
            @Html.DisplayFor(model => model.ChanceToHit)%
        </td>
</tr>
<tr>
        <td>Szybkość ataku</td>
        <td>
            @Html.DisplayFor(model => model.AttackSpeed)
        </td>
</tr>
     </tbody>
    </table>

</div>
</div><!-- end welcome -->	
}
