@model GameProject.Models.Entities.Affix

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Affix</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForWeapon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForWeapon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForShield)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForShield)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForArmor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForArmor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForJewelry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForJewelry)
        </dd>

        <dt>Siła</dt>

        <dd>
            @Html.DisplayFor(model => model.MinStrength)
            -
            @Html.DisplayFor(model => model.MaxStrength)
        </dd>

        <dt>Zręczność</dt>

        <dd>
            @Html.DisplayFor(model => model.MinDexterity)
            -
            @Html.DisplayFor(model => model.MaxDexterity)
        </dd>

        <dt>Inteligencja</dt>

        <dd>
            @Html.DisplayFor(model => model.MinIntelligence)
            -
            @Html.DisplayFor(model => model.MaxIntelligence)
        </dd>

        <dt>Witalność</dt>

        <dd>
            @Html.DisplayFor(model => model.MinVitality)
            -
            @Html.DisplayFor(model => model.MaxVitality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
