@model Affix

@{
    ViewBag.Title = "Edit";
    ViewBag.Path = "/ Affix / Edycja #"+Model.Id;
}

<h2>Edytuj Affix</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CurrentVersion)
    
    <div class="form-horizontal">
        <div class="form-group">
            <label class = "control-label col-md-2"> Typ</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Type, EnumHelper.GetSelectList<AffixType>())
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Nazwa</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Dla Broni</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ForWeapon)
                @Html.ValidationMessageFor(model => model.ForWeapon)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Dla Tarczy</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ForShield)
                @Html.ValidationMessageFor(model => model.ForShield)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Dla Zbroi</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ForArmor)
                @Html.ValidationMessageFor(model => model.ForArmor)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Dla Biżuterii</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ForJewelry)
                @Html.ValidationMessageFor(model => model.ForJewelry)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Minimalna Siła</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinStrength)
                @Html.ValidationMessageFor(model => model.MinStrength)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Maksymalna Siła</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxStrength)
                @Html.ValidationMessageFor(model => model.MaxStrength)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Minimalna Zręczność</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinDexterity)
                @Html.ValidationMessageFor(model => model.MinDexterity)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Maksymalna Zręczność</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxDexterity)
                @Html.ValidationMessageFor(model => model.MaxDexterity)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Minimalna Inteligencja</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinIntelligence)
                @Html.ValidationMessageFor(model => model.MinIntelligence)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Maksymalna Inteligencja</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxIntelligence)
                @Html.ValidationMessageFor(model => model.MaxIntelligence)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Minimalna Witalność</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinVitality)
                @Html.ValidationMessageFor(model => model.MinVitality)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Maksymalna Witalność</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxVitality)
                @Html.ValidationMessageFor(model => model.MaxVitality)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Jakość</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.QualityLevel)
                @Html.ValidationMessageFor(model => model.QualityLevel)
            </div>
        </div>

        <div class="form-group">
            <label class = "control-label col-md-2"> Cena</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <p>
        <a type="button" class="btn btn-default" href="@Url.Action("Index", "Affix")">
            <i class="glyphicon glyphicon-arrow-left"></i> Wróć do listy
        </a>
    </p>
</div>
