@model IEnumerable<GameProject.Models.Entities.Affix>

@{
    ViewBag.Title = "Spis Affixów";
}

<h2>Spis</h2>

<p>
    @Html.ActionLink("Dodaj Affix", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Typ
        </th>
        <th>
            Nazwa
        </th>
        <th>
            Dla Broni
        </th>
        <th>
            Dla Tarczy
        </th>
        <th>
            Dla Zbroi
        </th>
        <th>
            Dla Biżuterii
        </th>
        <th>
            Jakość
        </th>
        <th>
            Cena
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForWeapon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForShield)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForArmor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForJewelry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Zobacz", "Details", new { id=item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
