@model EquipmentViewModel

@{
    ViewBag.Title = "Index";
}

<h4>Założone Przedmioty</h4>

<table class="table">
    <tr>
        <th>Typ</th>
        <th>Podtyp</th>
        <th>Nazwa</th>
        <th>Wytrzymałość</th>
        <th>Cena</th>
        <th></th>
    </tr>

    @foreach (var item in Model.EquippedItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.SubType)
            </td>
            <td>
@if (item.Prefix != null)
{
    @item.Prefix.Name
}

@item.Item.Name

@if (item.Suffix != null)
{
    @item.Suffix.Name
}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Durability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Price)
            </td>
            <td>
                @Html.ActionLink("Zdejmij", "ChangeStatusToChest", new { id = item.GeneratedItem.Id })
            </td>
        </tr>
    }
</table>

<h4>Plecak</h4>

<table class="table">
    <tr>
        <th>Typ</th>
        <th>Podtyp</th>
        <th>Nazwa</th>
        <th>Wytrzymałość</th>
        <th>Cena</th>
        <th></th>
    </tr>

    @foreach (var item in Model.BackpackItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.SubType)
            </td>
            <td>
@if (item.Prefix != null)
{
    @item.Prefix.Name
}

@item.Item.Name

@if (item.Suffix != null)
{
    @item.Suffix.Name
}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Durability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Price)
            </td>
            <td>
                @Html.ActionLink("Przenieś do skrzyni", "ChangeStatusToChest", new { id = item.GeneratedItem.Id })
            </td>
        </tr>
    }
</table>

<h4>Skrzynka</h4>

<table class="table">
    <tr>
        <th>Typ</th>
        <th>Podtyp</th>
        <th>Nazwa</th>
        <th>Wytrzymałość</th>
        <th>Cena</th>
        <th></th>
    </tr>

    @foreach (var item in Model.ChestItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.SubType)
            </td>
            <td>
@if (item.Prefix != null)
{
    @item.Prefix.Name
}

@item.Item.Name

@if (item.Suffix != null)
{
    @item.Suffix.Name
}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Durability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Price)
            </td>
            <td>
                @Html.ActionLink("Załóż", "ChangeStatusToEquipped", new { id = item.GeneratedItem.Id })
            </td>
        </tr>
    }
</table>
