@model EquipmentViewModel

@{
    ViewBag.Title = "Index";
}
<div class="container welcome">
<h2>Ekwipunek</h2>
<div class="container">
    <table class="tabela_statystyk_postaci">
<tbody>
<tr>
        <td>Założone Przedmioty</td>
        <td>Plecak</td>
        <td>Skrzynka</td>
</tr>
<tr>
        <td>@if(Model.EquippedItems.Count() == 0)
{
    <div class="alert alert-info"><b>Informacja!</b> Brak założonych przedmiotów...</div>
}
@foreach (var item in Model.EquippedItems)
{
    if (item.Item.Type == ItemType.Weapon)
    {
        @Html.Partial("_Weapon", item)
    }
    else if (item.Item.Type == ItemType.Shield)
    {
        @Html.Partial("_Shield", item)
    }
    else if (item.Item.Type == ItemType.Armor)
    {
        @Html.Partial("_Armor", item)
    }
    else if (item.Item.Type == ItemType.Jewelry)
    {
        @Html.Partial("_Jewelry", item)
    }

    <button class="btn btn-large btn-block btn-warning" type="button" onclick="location.href='@Url.Action("ChangeStatusToChest", "Equipment", new { id = item.GeneratedItem.Id })'">
        <i class="glyphicon glyphicon-sort"></i> Zdejmij
    </button>
    <br />
}
        </td>
<td>
@if(Model.BackpackItems.Count() == 0)
{
    <div class="alert alert-info"><b>Informacja!</b> Brak przedmiotów w plecaku...</div>
}
@foreach (var item in Model.BackpackItems)
{
    if (item.Item.Type == ItemType.Weapon)
    {
        @Html.Partial("_Weapon", item)
    }
    else if (item.Item.Type == ItemType.Shield)
    {
        @Html.Partial("_Shield", item)
    }
    else if (item.Item.Type == ItemType.Armor)
    {
        @Html.Partial("_Armor", item)
    }
    else if (item.Item.Type == ItemType.Jewelry)
    {
        @Html.Partial("_Jewelry", item)
    }
    <button class="btn btn-large btn-block btn-info" type="button" onclick="location.href='@Url.Action("ChangeStatusToChest", "Equipment", new { id = item.GeneratedItem.Id })'">
        <i class="glyphicon glyphicon-transfer"></i> Przenieś do skrzyni
    </button>
    <br />
}
</td>
        <td>
@if(Model.ChestItems.Count() == 0)
{
    <div class="alert alert-info"><b>Informacja!</b> Brak przedmiotów w skrzyni...</div>
}
@foreach (var item in Model.ChestItems)
{
    if (item.Item.Type == ItemType.Weapon)
    {
        @Html.Partial("_Weapon", item)
    }
    else if (item.Item.Type == ItemType.Shield)
    {
        @Html.Partial("_Shield", item)
    }
    else if (item.Item.Type == ItemType.Armor)
    {
        @Html.Partial("_Armor", item)
    }
    else if (item.Item.Type == ItemType.Jewelry)
    {
        @Html.Partial("_Jewelry", item)
    }
    <button class="btn btn-large btn-block btn-success" type="button" onclick="location.href='@Url.Action("ChangeStatusToEquipped", "Equipment", new { id = item.GeneratedItem.Id })'">
        <i class="glyphicon glyphicon-resize-full"></i> Załóż
    </button>
    <br />
}

        </td>

</tr>
</tbody>
</table>
</div>
</div>
