@model EquipmentViewModel

@{
    ViewBag.Title = "Index";
}

<h4>Założone Przedmioty</h4>

@foreach (var item in Model.EquippedItems)
{
    if (item.Item.Type == ItemType.Weapon)
    {
        @Html.Partial("_Weapon", item)
    }
    else if (item.Item.Type == ItemType.Shield)
    {
        @Html.Partial("_Shield", item)
    }
    else if (item.Item.Type == ItemType.Armor)
    {
        @Html.Partial("_Armor", item)
    }
    else if (item.Item.Type == ItemType.Jewelry)
    {
        @Html.Partial("_Jewelry", item)
    }
    
    @Html.ActionLink("Zdejmij", "ChangeStatusToChest", new { id = item.GeneratedItem.Id })
}

<h4>Plecak</h4>

@foreach (var item in Model.BackpackItems)
{
    if (item.Item.Type == ItemType.Weapon)
    {
        @Html.Partial("_Weapon", item)
    }
    else if (item.Item.Type == ItemType.Shield)
    {
        @Html.Partial("_Shield", item)
    }
    else if (item.Item.Type == ItemType.Armor)
    {
        @Html.Partial("_Armor", item)
    }
    else if (item.Item.Type == ItemType.Jewelry)
    {
        @Html.Partial("_Jewelry", item)
    }
    
    @Html.ActionLink("Przenieś do skrzyni", "ChangeStatusToChest", new { id = item.GeneratedItem.Id })
}

<h4>Skrzynka</h4>

@foreach (var item in Model.ChestItems)
{
    if (item.Item.Type == ItemType.Weapon)
    {
        @Html.Partial("_Weapon", item)
    }
    else if (item.Item.Type == ItemType.Shield)
    {
        @Html.Partial("_Shield", item)
    }
    else if (item.Item.Type == ItemType.Armor)
    {
        @Html.Partial("_Armor", item)
    }
    else if (item.Item.Type == ItemType.Jewelry)
    {
        @Html.Partial("_Jewelry", item)
    }
    
    @Html.ActionLink("Załóż", "ChangeStatusToEquipped", new { id = item.GeneratedItem.Id })
}
