@model EquipmentViewModel

@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
  <li class="active"><a href="#wear_items" data-toggle="tab">Założone Przedmioty</a></li>
  <li><a href="#bag" data-toggle="tab">Plecak</a></li>
  <li><a href="#box" data-toggle="tab">Skrzynka</a></li>
</ul>

<div class="tab-content">
<div class="tab-pane fade in active" id="wear_items">
@if(Model.EquippedItems.Count() == 0)
{
    <div class="alert alert-info"><b>Informacja!</b> Brak założonych przedmiotów...</div>
}
@foreach (var item in Model.EquippedItems)
{
    if (item.Item.Type == ItemType.Weapon)
    {
        @Html.Partial("_Weapon", item)
    }
    else if (item.Item.Type == ItemType.Shield)
    {
        @Html.Partial("_Shield", item)
    }
    else if (item.Item.Type == ItemType.Armor)
    {
        @Html.Partial("_Armor", item)
    }
    else if (item.Item.Type == ItemType.Jewelry)
    {
        @Html.Partial("_Jewelry", item)
    }

    <button class="btn btn-large btn-block btn-warning" type="button" onclick="location.href='@Url.Action("ChangeStatusToChest", "Equipment", new { id = item.GeneratedItem.Id })'">
        <i class="glyphicon glyphicon-sort"></i> Zdejmij
    </button>
    <br />
}
</div>

<div class="tab-pane fade" id="bag">
@if(Model.BackpackItems.Count() == 0)
{
    <div class="alert alert-info"><b>Informacja!</b> Brak przedmiotów w plecaku...</div>
}
@foreach (var item in Model.BackpackItems)
{
    if (item.Item.Type == ItemType.Weapon)
    {
        @Html.Partial("_Weapon", item)
    }
    else if (item.Item.Type == ItemType.Shield)
    {
        @Html.Partial("_Shield", item)
    }
    else if (item.Item.Type == ItemType.Armor)
    {
        @Html.Partial("_Armor", item)
    }
    else if (item.Item.Type == ItemType.Jewelry)
    {
        @Html.Partial("_Jewelry", item)
    }
    <button class="btn btn-large btn-block btn-info" type="button" onclick="location.href='@Url.Action("ChangeStatusToChest", "Equipment", new { id = item.GeneratedItem.Id })'">
        <i class="glyphicon glyphicon-transfer"></i> Przenieś do skrzyni
    </button>
    <br />
}
</div>

<div class="tab-pane fade" id="box">
@if(Model.ChestItems.Count() == 0)
{
    <div class="alert alert-info"><b>Informacja!</b> Brak przedmiotów w skrzyni...</div>
}
@foreach (var item in Model.ChestItems)
{
    if (item.Item.Type == ItemType.Weapon)
    {
        @Html.Partial("_Weapon", item)
    }
    else if (item.Item.Type == ItemType.Shield)
    {
        @Html.Partial("_Shield", item)
    }
    else if (item.Item.Type == ItemType.Armor)
    {
        @Html.Partial("_Armor", item)
    }
    else if (item.Item.Type == ItemType.Jewelry)
    {
        @Html.Partial("_Jewelry", item)
    }
    <button class="btn btn-large btn-block btn-success" type="button" onclick="location.href='@Url.Action("ChangeStatusToChest", "Equipment", new { id = item.GeneratedItem.Id })'">
        <i class="glyphicon glyphicon-resize-full"></i> Załóż
    </button>
    <br />
}
</div>
</div>