<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/admin-css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top nawigacja">

            <div class="navbar-header">
                <a class="logo_title" href="@Url.Action("Index", "Dashboard")">GameProject</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
        </div>

    <div class="Menu1">
        <!-- start: Main Menu -->
        <div class="col-sm-2 main-menu-span">
            <div class="sidebar-nav nav-collapse collapse navbar-collapse">
                <ul class="nav nav-tabs nav-stacked main-menu admin_menu">
                    <li><a class="dropmenu" href="@Url.Action("Index", "Dashboard")"><i class="glyphicon glyphicon-home"></i><span class="hidden-sm hidden-span"> Kokpit</span></a></li>

                    <li>
                        <!-- Affix -->
                        <a class="dropmenu" href="@Url.Action("Index", "Affix")"><i class="glyphicon glyphicon-tasks"></i><span class="hidden-sm hidden-span"> Affix</span></a>
                        <ul>
                            <li><a class="submenu" href="@Url.Action("Create", "Affix")"><i class=""></i><span class="hidden-sm"> Nowy Affix</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <!-- Item -->
                        <a class="dropmenu" href="@Url.Action("Index", "Item")"><i class="glyphicon glyphicon-wrench"></i><span class="hidden-sm hidden-span"> Przedmioty</span></a>
                        <ul>
                            <li><a class="submenu" href="@Url.Action("CreateWeapon", "Item")"><i class="fa fa-file"></i><span class="hidden-sm"> Nowa Broń</span></a></li>
                            <li><a class="submenu" href="@Url.Action("CreateShield", "Item")"><i class="fa fa-file"></i><span class="hidden-sm"> Nowa Tarcza</span></a></li>
                            <li><a class="submenu" href="@Url.Action("CreateArmor", "Item")"><i class="fa fa-file"></i><span class="hidden-sm"> Nowa Zbroja</span></a></li>
                            <li><a class="submenu" href="@Url.Action("CreateJewelry", "Item")"><i class="fa fa-file"></i><span class="hidden-sm"> Nowa Biżuteria</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <!-- Image -->
                        <a class="dropmenu" href="@Url.Action("Index", "Image")"><i class="glyphicon glyphicon-picture"></i><span class="hidden-sm hidden-span"> Obrazy</span></a>
                        <ul>
                            <li><a class="submenu" href="@Url.Action("Create", "Image")"><i class="fa fa-file"></i><span class="hidden-sm"> Nowy Obraz</span></a></li>
                        </ul>
                    </li>

                    <li>
                        <!-- Location -->
                        <a class="dropmenu" href="@Url.Action("Index", "Location")"><i class="glyphicon glyphicon-globe"></i><span class="hidden-sm hidden-span"> Lokacje</span></a>
                        <ul>
                            <li><a class="submenu" href="@Url.Action("Create", "Location")"><i class="fa fa-file"></i><span class="hidden-sm"> Nowa Lokacja</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- Monster -->
                        <a class="dropmenu" href="@Url.Action("Index", "Monster")"><i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-span"> Potwór</span></a>
                        <ul>
                            <li><a class="submenu" href="@Url.Action("Create", "Monster")"><i class="fa fa-file"></i><span class="hidden-sm"> Nowy Potwór</span></a></li>
                        </ul>
                    </li>
                    <li><a class="dropmenu" href="@Url.Action("Logout", "Account")"><i class="glyphicon glyphicon-log-out"></i><span class="hidden-sm hidden-span"> Wyloguj</span></a></li>
                </ul>
            </div><!--/.well -->
        </div><!-- /col -->
        <!-- End Menu -->
    </div>

    <div class="body_container col-sm-10">
        <br />
        <hr class="hrPath" />
        / Admin @ViewBag.Path
        <hr class="hrPath" />
        @Html.Partial("_FlashMessagePartial")
        @RenderBody()
        <hr />
    </div>

        <footer class="footer_admin">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
</body>
</html>
