@model GameProject.Models.Entities.Image

@{
    ViewBag.Title = "Edycja Obrazka";
}

<h2>Edytowanie Obrazka</h2>

@using (Html.BeginForm("Edit", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

@Html.AntiForgeryToken()

@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.CurrentVersion)

   <div class="form-horizontal">
        <h4>Obrazek</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownList("category", EnumHelper.GetSelectList<ImageCategory>())
                <br /><br />
                <input type="file" name="file" />
                <input type="submit" value="OK" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>
