@model GameProject.ViewModels.RegisterUserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<ul>
    <li>@Html.ActionLink("Zarejestruj się", "Register", "Account")</li>
    <li>@Html.ActionLink("Zaloguj", "Login", "Account")</li>
</ul>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Hasło</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Hasło potwierdzające</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zarejestruj się" class="btn btn-default" />
            </div>
        </div>
    </div>
}
