@model DetailsLocationViewModel

@{
    ViewBag.Title = "Details Location";
}

<h2>Details Location</h2>
<div class="container" style="display:block;">

@if(Model.Image != null)
{
    <img src="@Url.Action("Show","Image", new { imageName = Model.Image.FileName })" class="img-rounded col-md-4" width="150px" />
}

<dl class="dl-horizontal col-md-8">
    <dt>
        <i class="glyphicon glyphicon-bookmark"></i> @Html.DisplayNameFor(model => model.Location.Name)
    </dt>      
    <dd>
        @Model.Location.Name
    </dd>
    <dt>
       <i class="glyphicon glyphicon-list-alt"></i> @Html.DisplayNameFor(model => model.Location.Description)
    </dt>
    <dd>
        @Model.Location.Description
    </dd>
    
    @if(CharacterHelpers.GetLeftTimeToEventComplete(this.Context) == 0)
    {
        <button class="btn btn-large btn-block btn-info" type="button" onclick="location.href='@Url.Action("Travel", "Location", new { locationID=@Model.Location.ID })'">
            <i class="glyphicon glyphicon-plane"></i> Wyrusz na wyprawę
        </button>
    }
    else
    {
        <label>@CharacterHelpers.GetLeftTimeToEventComplete(this.Context)</label>
    }
</dl>
</div>