@model Item

@{
    ViewBag.Title = "Create";
}

<h2>Create Jewelry</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Type)
    
    <div class="form-horizontal">
    <h4>Item</h4>
    <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.WeaponType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.JewelryType, EnumHelper.GetSelectList<JewelryType>())
                @Html.ValidationMessageFor(model => model.JewelryType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequireStrength, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequireStrength)
                @Html.ValidationMessageFor(model => model.RequireStrength)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QualityLevel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QualityLevel)
                @Html.ValidationMessageFor(model => model.QualityLevel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
