@model GameProject.Models.Entities.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details Jewelry</h2>

<div>
    <h4>Item</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualityLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
