@model DetailsItemViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły broni</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>Typ</dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Type)
        </dd>

        <dt>Podtyp</dt>

        <dd>
            @Html.DisplayFor(model => model.Item.SubType)
        </dd>

        <dt>Nazwa</dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>Minimalne Obrażenia</dt>

        <dd>
            @Html.DisplayFor(model => model.Item.PrimaryMinValue)
        </dd>

        <dt>Maksymalne obrażenia</dt>

        <dd>
            @Html.DisplayFor(model => model.Item.PrimaryMaxValue)
        </dd>

        <dt>Wymagana Siła</dt>

        <dd>
            @Html.DisplayFor(model => model.Item.RequireStrength)
        </dd>

        <dt>Poziom Jakości</dt>

        <dd>
            @Html.DisplayFor(model => model.Item.QualityLevel)
        </dd>

        <dt>Wytrzymałość</dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Durability)
        </dd>

        <dt>Cena</dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Price)
        </dd>

        <dt>Obrazek</dt>

        @if (Model.Image != null)
        {
            <dd>
                <img src="@Url.Action("Show","Image", new { imageName = Model.Image.FileName })" />
            </dd> 
        }
    </dl>
</div>
