@model GameProject.Models.Entities.Item

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły broni</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>Typ</dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>Podtyp</dt>

        <dd>
            @Html.DisplayFor(model => model.SubType)
        </dd>

        <dt>Nazwa</dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>Minimalne Obrażenia</dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryMinValue)
        </dd>

        <dt>Maksymalne obrażenia</dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryMaxValue)
        </dd>

        <dt>Wymagana Siła</dt>

        <dd>
            @Html.DisplayFor(model => model.RequireStrength)
        </dd>

        <dt>Poziom Jakości</dt>

        <dd>
            @Html.DisplayFor(model => model.QualityLevel)
        </dd>

        <dt>Wytrzymałość</dt>

        <dd>
            @Html.DisplayFor(model => model.Durability)
        </dd>

        <dt>Cena</dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
