@model GameProject.Models.Entities.Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Weapon</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CurrentVersion)
        @Html.HiddenFor(model => model.Type)

        <div class="form-group">
            @Html.LabelFor(model => model.WeaponType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.WeaponType, EnumHelper.GetSelectList<WeaponType>())
                @Html.ValidationMessageFor(model => model.WeaponType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinDamage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinDamage)
                @Html.ValidationMessageFor(model => model.MinDamage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxDamage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaxDamage)
                @Html.ValidationMessageFor(model => model.MaxDamage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequireStrength, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequireStrength)
                @Html.ValidationMessageFor(model => model.RequireStrength)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QualityLevel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QualityLevel)
                @Html.ValidationMessageFor(model => model.QualityLevel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
