@model GameProject.Models.Entities.Item

@{
    ViewBag.Title = "Edit";
}

<h2>Edytuj Zbroję</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CurrentVersion)
    @Html.HiddenFor(model => model.Type)
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryMinValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimaryMinValue)
                @Html.ValidationMessageFor(model => model.PrimaryMinValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryMaxValue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrimaryMaxValue)
                @Html.ValidationMessageFor(model => model.PrimaryMaxValue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequireStrength, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequireStrength)
                @Html.ValidationMessageFor(model => model.RequireStrength)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QualityLevel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QualityLevel)
                @Html.ValidationMessageFor(model => model.QualityLevel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Durability, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Durability)
                @Html.ValidationMessageFor(model => model.Durability)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
