@model PagedList.IPagedList<Item>

@{
    ViewBag.Title = "Index";
}

<h2>Lista przedmiotów</h2>

<p>
    @Html.ActionLink("Nowa Broń", "CreateWeapon")
</p>
<p>
    @Html.ActionLink("Nowa Tarcza", "CreateShield")
</p>
<p>
    @Html.ActionLink("Nowa Zbroja", "CreateArmor")
</p>
<p>
    @Html.ActionLink("Nowa Biżuteria", "CreateJewelry")
</p>

<table class="table">
    <tr>
        <th>Typ</th>
        <th>Podtyp</th>
        <th>Nazwa</th>
        <th>Poziom Jakości</th>
        <th>Wytrzymałość</th>
        <th>Cena</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QualityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Durability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Ustaw Obrazek", "Set", "Image", new { category = ImageCategory.Item, id = item.Id }, null)
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
