@model Location

@{
    ViewBag.Title = "Tworzenie lokacji";
}

<h2>Tworzenie Lokacji</h2>

@using (Html.BeginForm())
{
   <div class="form-horizontal">
        <h4>Location</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">Nazwa</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Opis</label>

            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stwórz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>
