@model IEnumerable<GameProject.Models.Entities.Location>
@{
    ViewBag.Title = "Index Image";
}

<h2>Locations</h2>
<p>
    <a type="button" class="btn btn-success" href="@Url.Action("Create", "Location")">
        <i class="glyphicon glyphicon-plus"></i> Utwórz nową lokację
    </a>
</p>
<table class="table">
    <tr class="pool_grey">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var location in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelLocation => location.Name)
            </td>
            <td>

                <a type="button" class="btn btn-warning" href="@Url.Action("Edit/"+location.ID, "Location")">
                    <i class="glyphicon glyphicon-edit"></i> Edytuj
                </a>

                @if (ViewData["isAnyImages"] != null)
                {
                    <a type="button" class="btn btn-info" href="@Url.Action("Set", "Image", new { category = ImageCategory.Location, id = location.ID })">
                        <i class="glyphicon glyphicon-picture"></i> Ustaw obrazek
                    </a>
                }

                <a type="button" class="btn btn-primary" href="@Url.Action("Details/"+location.ID, "Location")">
                    <i class="glyphicon glyphicon-eye-open"></i> Zobacz
                </a>

                <a type="button" class="btn btn-success" href="@Url.Action("Create", "Event", new { locationID=location.ID })">
                    <i class="glyphicon glyphicon-plus"></i> Dodaj Event
                </a>

            </td>
        </tr>
    }

</table>
